<!DOCTYPE html>

<html lang="en">
<head>
    <title>Team Info Portal</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
    fetch("/api/visits", {method: 'post'})
        .then(response => response.json())
        .then(visits => {
            visits.forEach(visit => {
                const el = document.createElement('li');
                el.innerText = visit.description;
                document.querySelector('#visits').append(el);
            });
        });
</script>

<body>
<h1>Welcome to Spring, {{ name }}</h1>

<div id="listOfVisits">
    <ul id="visits">
    </ul>
</div>

<form name='loginForm' action="/api/login" method="post">
    <fieldset>
        <legend>Login</legend>
        <label for="UserName">User name:</label>
        <input id="UserName" type="text" name="username"/>
        <label for="Password">Password:</label>
        <input id="Password" type="password" name="password"/>
        <br/>
        <button class="btn btn-primary" type="submit">Login</button>
    </fieldset>
</form>

</body>

</html>